name: Update Floating Tag
run-name: Move floating tag for ${{ github.ref_name }}

on:
  release:
    types: [published]

jobs:
  update-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haya14busa/action-update-semver@v1